
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: linear-gradient(35deg, #e9ecef, #9fb3c6);
}

.container{
    background-color: #fff;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0,5);
}

.header{
   text-align: center;  
   margin-bottom: 24px;
}

.header img{
    width: 200px;
    margin: 0 auto;
}

.header h1{
    font-size: 1.4rem;
    margin-top: -50px;
}
